src/NAd/Service References/Commanding/NAdCommandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9002/NAdCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NAd.Commanding.Commands" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NAd.Commanding.Commands" minOccurs="0" name="command" nillable="true" type="q1:CreateNewClassifiedCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>