src/NAd/Service References/Commanding/NAdCommandService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NAd.Ncqrs.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NAd.Ncqrs.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9002/NAdCommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9002/NAdCommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" />
  <xs:complexType name="ChangeClassifiedDescription">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" base="q1:CommandBase">
        <xs:sequence>
          <xs:element name="_x003C_ClassifiedId_x003E_k__BackingField" type="ser:guid" />
          <xs:element name="_x003C_NewDescription_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_NewName_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeClassifiedDescription" nillable="true" type="tns:ChangeClassifiedDescription" />
  <xs:complexType name="CreateNewClassified">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" base="q2:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateNewClassified" nillable="true" type="tns:CreateNewClassified" />
</xs:schema>